

.signup__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup__content {
  width: 100%;
  max-width: 400px;
}

.signup__button {
  width: 100%;
  margin-top: 1rem;
}

.signup__footer {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.signup__form-group {
  margin-top: 1rem;
}

.slices__options {
  display: flex;
  justify-content: space-evenly;
}
.slices__option {
  text-align: center;
  cursor: pointer;
}

.slices__row {
  font-size: 1.5rem;
  text-align: center;
}

.target {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.targetHandler {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
}